* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 20px;
  height: 75px;
  background-color: tan;
  align-items: center;

}

h1 {
  /* font-family:Copperplate, fantasy; */
  color: azure;
}

header nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  list-style-type: none;
  
}

header nav ul li {
  margin-right: 20px;
}

header nav ul li a {
  color: azure;
  text-decoration: none;
  border: 2px solid white;
  border-radius: 5px;
  padding: 10px;
}

/* hero banner */
.hero-banner {
  background-image: url(../images/laptop_notebook.jpg);
  height: 600px;
  background-position: center;
  /* display: flex;
  align-items: center; */
  justify-content: space-around;
  background-size: cover;
}

/* picture of me */
img {
  display: flex;
  align-items: left;
  border-radius: 100%;  
  border: 3px solid tan;
  height: 300px;
  margin-left: 10px;
  margin-top: 10px;
}

/* famous quote */
.hero-banner .quote {
  display: flex;
  text-align: bottom;
  justify-content: left;
  font-size: 35px;
  font-family: lucida handwriting;
  color: tan;
  position: absolute;
  bottom: 70px;
  left: 16px;
}




/* media queries -show anything less than 600px*/
@media screen and (max-width:600px) {
  header {
    flex-direction: column;
    height: 120px;
  }
}